@import './normalize';

#timer {
    display: flex;
    color: #D0FF00;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    color: #D0FF00;
    font-size: 25px;

    &-wrapper {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
    }
}

.marquee {
    color: #D0FF00;

    &-wrapper {

    }
}